{% extends "base.html" %}

{% load static %}

{% block extra-styles %}
  <link type="text/css" rel="stylesheet"
        href="{% static "libs/leaflet/dist/leaflet.css" %}" />
  <link type="text/css" rel="stylesheet"
        href="{% static "libs/leaflet-fullscreen/dist/leaflet.fullscreen.css" %}" />
  <link type="text/css" rel="stylesheet"
        href="{% static "libs/leaflet.zoomdisplay/dist/leaflet.zoomdisplay.css" %}" />
  <link type="text/css" rel="stylesheet"
        href="{% static "css/ipv6map.css" %}" />
{% endblock extra-styles %}

{% block extra-scripts %}
  <script src="{% static "libs/leaflet/dist/leaflet.js" %}"></script>
  <script src="{% static "libs/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js" %}"></script>
  <script src="{% static "libs/leaflet.zoomdisplay/dist/leaflet.zoomdisplay.js" %}"></script>
  <script src="{% static "libs/leaflet.heat/dist/leaflet-heat.js" %}"></script>
  <script src="{% static "js/ipv6map.js" %}"></script>
{% endblock extra-scripts %}

{% block content %}
  <div id="info">
    <div class="container">
      <h1>Visualizing IPv6 address locations around the world.</h1>

      <p>
        <span id="version">Loading data...</span>
        <br>
        Project source available on
        <a href="https://github.com/rlmuraya/ipv6map/">GitHub</a>.
        <br>
        This product uses GeoLite2 data created by MaxMind, available from
        <a href="http://www.maxmind.com">http://www.maxmind.com</a>.
      </p>

      <p>
        <a id="increase-radius" href="#">incr. radius</a>
        &middot;
        <a id="reset-radius" href="#">reset radius</a>
        &middot;
        <a id="decrease-radius" href="#">decr. radius</a>
      </p>
    </div>
  </div>

  <div id="map" data-geodata-url="{% url 'geodata:api-location-list' %}"></div>

  <div id="loading">Loading data...</div>
{% endblock content %}
