{% extends "base.html" %}

{% load static %}

{% block extra-styles %}
  <link type="text/css" rel="stylesheet"
        href="{% static "libs/leaflet/dist/leaflet.css" %}" />
  <link type="text/css" rel="stylesheet"
        href="{% static "libs/leaflet-fullscreen/dist/leaflet.fullscreen.css" %}" />
  <link type="text/css" rel="stylesheet"
        href="{% static "libs/leaflet.zoomdisplay/dist/leaflet.zoomdisplay.css" %}" />
  <link type="text/css" rel="stylesheet"
        href="{% static "css/ipv6map.css" %}" />
{% endblock extra-styles %}

{% block extra-scripts %}
  <script src="{% static "libs/leaflet/dist/leaflet.js" %}"></script>
  <script src="{% static "libs/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js" %}"></script>
  <script src="{% static "libs/leaflet.zoomdisplay/dist/leaflet.zoomdisplay.js" %}"></script>
  <script src="{% static "libs/leaflet.heat/dist/leaflet-heat.js" %}"></script>
  <script src="{% static "js/ipv6map.js" %}"></script>
{% endblock extra-scripts %}

{% block content %}
  <div id="info">
    <div class="container">
      <h1>Visualizing IPv6 address locations around the world.</h1>

      <p>
        <span id="version">Loading data...</span>
        <br>
        Project source available on
        <a href="https://github.com/rlmuraya/ipv6map/">GitHub</a>.
        <br>
        This product uses GeoLite2 data created by MaxMind, available from
        <a href="http://www.maxmind.com">http://www.maxmind.com</a>.
      </p>

      <form id="options">
        <div class="option heat-option">
          <label for="radius">Radius:</label>
          <input type="number" name="radius" value="9"
                 min="1" max="25" step="1" />
        </div>
        <div class="option heat-option">
          <label for="blur">Blur:</label>
          <input type="number" name="blur" value="18"
                 min="0" max="50" step="1" />
        </div>
        <div class="option heat-option hidden">
          <label for="minOpacity">Min Opacity:</label>
          <input type="number" name="minOpacity" value="0.05"
                 min="0" max="1" step="0.05" />
        </div>
        <div class="option heat-option hidden">
          <label for="max">Max:</label>
          <input type="number" name="max" value="1.0"
                 min="0" max="1" step="0.1" />
        </div>
        <div class="option heat-option hidden">
          <label for="maxZoom">Max Zoom:</label>
          <input type="number" name="maxZoom" value="5"
                 min="2" max="19" step="1" />
        </div>
        <div class="option data-option">
          <label for="clusters">Clusters:</label>
          <input type="number" name="clusters" value="0"
                 min="0" max="10000" step="500" />
        </div>
      </form>
    </div>
  </div>

  <div id="map" data-geodata-url="{% url 'geodata:api-location-list' %}"></div>

  <div id="loading">Loading data...</div>
{% endblock content %}
