html, body, #map {
  height: 100%;
  width: 100%;
}

#info {
  background-color: #407cc9;  /* blue */
  bottom: 0;
  color: #fff;
  height: 90px;  /* total height = 90px + 30px padding */
  left: 0;
  line-height: 1.15;
  overflow-y: scroll;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#info.error {
  background-color: #c9407c;
}

#info h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#info a {
  color: #40c98d;  /* green */
}

#info p {
  margin: 0;
}

#version {
  font-weight: bold;
}

.leaflet-container:not(.leaflet-fullscreen-on) .leaflet-control.leaflet-control-fullscreen {
  margin-bottom: 130px;  /* clear height of info strip by 10px */
}
