html, body, #map {
  height: 100%;
  width: 100%;
}

#loading {
  background-color: gray;
  color: white;
  font-size: 18px;
  height: 100%;
  left: 0;
  opacity: 0.85;
  padding-top: 20%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1001;
}

#info {
  background-color: #407cc9;  /* blue */
  bottom: 0;
  color: #fff;
  height: 130px;
  left: 0;
  line-height: 1.15;
  overflow-y: scroll;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1002;
}
#info.error {
  background-color: #c9407c;  /* pink */
}
#info h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#info a {
  color: #40c98d;  /* green */
}
#info p {
  margin: 0 0 10px;
}
#info p:last-child {
  margin: 0;
}

#options {
  margin: 15px 0 -1.5rem;
}
.option {
  display: inline-block;
}
.option.hidden {
  display: none;
}
.option label {
  display: inline;
  white-space: nowrap;
}
.option input {
  color: #407cc9;
  display: inline;
  height: 23px;
  margin-right: 10px;
  padding: 2px 8px;
  width: 60px;
}
.data-option input {
  width: 100px;
}

#version {
  font-weight: bold;
}
